<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gerenciador de Cuidadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ isEditing ? 'Editar Cuidador' : 'Adicionar Novo Cuidador' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="adicionarOuAtualizarCuidador()">
        <ion-item>
          <ion-label position="floating">Nome do Cuidador</ion-label>
          <ion-input type="text" [(ngModel)]="novoCuidador.nomeCuidador" name="nomeCuidador" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">N° de Celular</ion-label>
          <ion-input type="text" [(ngModel)]="novoCuidador.cell" name="cell" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tempo de Experiência</ion-label>
          <ion-input type="number" [(ngModel)]="novoCuidador.tempoExperiencia" name="tempoExperiencia"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Conhecimentos</ion-label>
          <ion-input type="text" [(ngModel)]="novoCuidador.conhecimentos" name="conhecimentos"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="ion-margin-top">
          {{ isEditing ? 'Salvar Alterações' : 'Adicionar Cuidador' }}
        </ion-button>
        <ion-button *ngIf="isEditing" expand="block" fill="outline" color="danger" (click)="limparFormulario()">
          Cancelar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>Lista de Cuidadores Cadastrados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="cuidadores.length > 0; else noCuidadores">
        <ion-item *ngFor="let cuidador of cuidadores" lines="full">
          <ion-label>
            <h2>Nome do Cuidador: {{ cuidador.nomeCuidador }}</h2>
            <p>N° Celular: {{ cuidador.cell }}</p>
            <p>Tempo de Experiência: {{ cuidador.tempoExperiencia }} anos</p>
            <p>Conhecimentos: {{ cuidador.conhecimentos }}</p>
          </ion-label>

          <ion-buttons slot="end">
            <ion-button color="primary" (click)="editarCuidador(cuidador)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deletarCuidador(cuidador.id!)">
              <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ng-template #noCuidadores>
        <p class="ion-text-center">Nenhum cuidador cadastrado ainda.</p>
      </ng-template>

    </ion-card-content>
  </ion-card>

</ion-content>