<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gerenciador de Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ isEditing ? 'Editar Pet' : 'Adicionar Novo Pet' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="adicionarOuAtualizarPet()">
        <ion-item>
          <ion-label position="floating">Nome do Pet</ion-label>
          <ion-input type="text" [(ngModel)]="novoPet.nome" name="nome" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Categoria</ion-label>
          <ion-input type="text" [(ngModel)]="novoPet.categoria" name="categoria" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Raça</ion-label>
          <ion-input type="text" [(ngModel)]="novoPet.raca" name="raca"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">idade do Pet</ion-label>
          <ion-input type="number" [(ngModel)]="novoPet.idadePet" name="idadePet"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descrição do Problema que o pet tem</ion-label>
          <ion-textarea [(ngModel)]="novoPet.descricao" name="descricao"></ion-textarea>
        </ion-item>

        <ion-button expand="block" type="submit" class="ion-margin-top">
          {{ isEditing ? 'Salvar Alterações' : 'Cadastrar Pet no Sistema' }}
        </ion-button>
        <ion-button *ngIf="isEditing" expand="block" fill="outline" color="danger" (click)="limparFormulario()">
          Cancelar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

<ion-card class="ion-margin-top">
    <ion-card-header>
      <h1>Lista de Pets Cadastrados</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="pets.length > 0; else noPets">
        <ion-item *ngFor="let pet of pets" lines="full">
          <ion-label>
            <h1>Nome do Pet: {{ pet.nome }}</h1>
            <h3>Categoria: {{ pet.categoria }}</h3>
            <h3>Raça: {{ pet.raca }}</h3>
            <h3>idade do Pet: {{ pet.idadePet }}</h3>
            <h3>Descrição do Problema que o pet tem: {{ pet.descricao }}</h3>
          </ion-label>

          <ion-buttons slot="end">
            <ion-button color="dark" (click)="editarPet(pet)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deletarPet(pet.id!)">
              <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ng-template #noPets>
        <p class="ion-text-center">Nenhum pet cadastrado ainda.</p>
      </ng-template>

    </ion-card-content>
  </ion-card>

</ion-content>